.kaufman {
  background-color: #1f1f1f;
  position: relative;
  z-index: 1;
  margin: 0 0;
  padding: 90px 0;
  overflow: hidden;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
